body, html {
	margin: 0;
	overflow-x: hidden;
}

h1 {
	font-size: 40px;
	color: #000;
}

.menu {
	overflow: hidden;
	position: fixed;
	background-color: #13171c;
	width: 100vw;
	z-index: 21;
}

.menu a {
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	padding-top: 5px;
	text-decoration: none;

}

.logo {
	overflow: hidden;
	position: fixed;
	display: inline-block;
	width: 8vw;
	font-size: 40px;
	text-align: center;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
	padding-top: 7px;
}

ul {
	display: inline-block;
	float: right;
	list-style-type: none;
	width: 70vw;
	padding-top: 10px;
}

li {
	display: inline-block;
	padding-left: 4rem;
	font-size: 25px;
	color: #fff;
}
.tint {
	position: absolute;
	z-index: 1;
	height: 70vh;
	width: 100vw;
	background-color: #000;
	opacity: 0.4;
}

.land {
	height: 70vh;
	width: 100vw;
	background-image: url('../images/newyork.jpg');
	background-position: center;
	background-repeat: no-repeat;
}
.top-hero-heading {
	background-color: #f0f0f0;
    background-size: 100%;
	bottom: 35%;
    box-shadow: 5px 10px 20px -7px rgba(26,26,26,.4);
    left: 50%;
    position: absolute;
	transform: translate3d(-50%,50%,0);
    width: 60%;
    padding: 3rem;
    text-align: center;
    z-index: 1;
}

.top-hero-heading h1 {
	color: #1b5b69;
}

.heading {
	position: relative;
	z-index: 20;
	font-size: 50px;
	text-align: center;
	padding-top: 30vh;
}

.heading a {
	color: #1b5b69;
	background: orange;
	border-radius: 10px;
	text-decoration: none;
	padding: 4px;
}

.line {
	position: relative;
	z-index: 19;
	margin: auto;
	color: #fff;
	width: 50vw;
	height: 2px;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.status {
	position: relative;
	z-index: 20;
	font-size: 40px;
	text-align: center;
	color: #fff;
}

.thefirst {
	padding-top: 6rem;
	width: 70vw;
	margin: auto;
}

.article {
	text-align: justify-all;
	padding-top: 5rem;
}

.footprint {
    background-image: url(https://www.wwf.org.uk/sites/default/files/2019-11/deforestation-in-cerrado-2.jpg);
	background-color: #000;
    color: #fff;
    margin-top: 32px;
    margin-top: 3rem;
}

.footprint-article {
	width: 55%;
    float: left;
    margin-left: 0.52083%;
    margin-right: 0.52083%;
    margin: 18.56px auto 0;
    margin: 2rem auto 0;
    float: none;
    font-size: 1rem;
    text-align: center;
}

.footprint-article h2 {
	font-family: Open Sans,sans-serif;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 32px;
    padding-bottom: 2rem;
    padding-top: 32px;
    padding-top: 2rem;
    line-height: 1.2em;
    color: #fff;
}


footer {
	background: #13171c;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: : 5vh;
	font-size: 20px;
	color: #fff;
}